.DS_Store, *.sublime-project, *.sublime-workspace, *.dSYM/
example/tiled_example.sublime-project
example/tiled_example.sublime-workspace
*.sublime-project
example/example.dSYM/Contents/Resources/Relocations/aarch64/example.yml
example/example.dSYM/Contents/Resources/DWARF/example
example/example.dSYM/Contents/Info.plist
example/example
example/.DS_Store
example/example
example/example
